body {
	margin: 0;
	padding: 0;
}

.delovni_sorabotnici img {
	width: 25%;
	height: 200px;
}

.delovni_sorabotnici h1 {
	text-align: center;
}

.delovni_sorabotnici {
	width: 1400px;
	margin: 0 auto;
}