footer {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}

.mapa{
	width: 100%;
	overflow: hidden;
	height: 500px;
	margin-top: -450px;
	/*opacity: .7;*/
}

	.footer-content {
		width: 1400px;
		height: 120px;
		margin: 0 auto;
	}

.logo {
	width: 101px;
	height: 57px;
	margin-top: 30px;
}

.footer-child {
	height: 100px;
	float: left;
}
.child-1 {
	width: 350px;
}
.child-2 {
	width: 700px;
}
.social-nav {
	width: 290px;
	height: 50px;
	list-style: none;
	margin: 35px auto 0 auto;
	/*margin: 35px 0 0 180px;*/
	padding: 0;
}
.social-nav li {
	float: left;
	margin-left: 5px;
}

.semos-edu {
	/*width: 350px;*/
	float: right;
}

	.semos-edu p {
		font-size: 18px;
		font-weight: 300;
		color: #464646;
		opacity: .7;
		line-height: .7;
	}

	.semos-edu img {
		/*margin-top: 10px;*/
	}
/*
ul.footer-nav {
	width: 550px;
	height: 30px;
	list-style: none;
	float: left;
	margin: 20px 0 0 75px;
	padding: 0;
}
ul.footer-nav li {
	float: left;
	margin: 0 30px 0 5px;
}
ul.footer-nav li:last-child {
	margin: 0;
}
ul.footer-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}*/

