body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	height: 100px;
	background-color: yellow;
}

.main-container {
	width: 100%;
}

.mainimg-container {
	width: 100%;
	height: 750px;
}

.mainimg-holder img {
		width: 100%;
}

.profesoritext-container {
	width: 100%
}

.profesoritext-holder {
	max-width: 1400px;
	margin: 0 auto;
}

.profesoritext-holder h1 {
	text-align: center;
	font-size: 36pt;
}

.profesoritext-holder p {
	text-align: justify;
	font-size: 18pt;
}

.profesori-container {
	margin-top: 100px;
	width: 100%;
	height: 2550px;
	background-color: #f1eded;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%)
}

.profesori-holder {
	max-width: 1400px;
	height: 1950px;
	background-color: #f1eded;
	margin: 0 auto;
}


.profrow1 {
	max-width: 1400px;
	height: 490px;
}
.profrow2 {
	max-width: 1400px;
	height: 490px;
}
.profrow3 {
	max-width: 1400px;
	height: 490px;
}
.profrow4 {
	max-width: 1400px;
	height: 490px;
}


.profesori-holder p {
	padding-top: 0px;
	text-align: center;
	font-size: 14pt;
}

.profesori-holder h2 {
	text-align: center;
	padding-top: 100px;
}

.p1 {
	margin-left: 80px;
	float: left;
}

.p2 {
	float: left;
	margin-left: 80px;
}

.p3 {
	float: left;
	margin-left: 80px;
}

.p4 {
	float: left;
	margin-left: 80px;
}

.p1-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p2-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p3-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p4-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p5 {
	margin-left: 80px;
	float: left;
}

.p6 {
	float: left;
	margin-left: 80px;
}

.p7 {
	float: left;
	margin-left: 80px;
}

.p8 {
	float: left;
	margin-left: 80px;
}

.p5-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p6-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p7-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p8-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p9 {
	margin-left: 80px;
	float: left;
	margin-top: 20px;
}

.p10 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p11 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p12 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p9-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p10-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p11-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p12-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p13 {
	margin-left: 80px;
	float: left;
	margin-top: 20px;
}

.p14 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p15 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p16 {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.p13-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p14-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p15-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.p16-box {
	max-width: 290px;
	height: 360px;
	background-color: #dddddd;
	margin-top: -130px;
	margin-left: -35px;
}

.map-holder {
	margin: 0 auto;	
}